hr {
    margin: 0;
}
img {
    width: 0;
    height: 0;
    visibility: hidden;
    transition: 0.3s ease-in-out;
    display: block;
    margin: 0.9vw auto;    
}

span {
    visibility: hidden;
    transform: rotate(45deg);    
}

p {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

h1 {
    margin: 0;
    padding: 2vw 0;
}

.Container {
    width: 50vw;
    margin: 0 auto;
    font-size: 1.3em;
    background-color: antiquewhite;
    padding: 0 5vw;
    border: 0.1vw solid rgb(224, 221, 221);
    border-radius: 0.5vw;
}

.All-items {
    color: blue;
    margin: 0;
}

.Item:last-child {
    padding-bottom: 0.6vw;
}

div.Item:active >label.Item_trigger {
    color: blue;
    opacity: 0.7;
    transition-duration: 0.4s line 0s;
}

.Item_toggle:focus + .Item_trigger {
    color: black;
    transition: 0.3s ease 0.5s;
}

.Item_toggle:checked +.Item_trigger {
    color: black;
}

.Item_toggle:checked+.Item_trigger>img {
    visibility: visible;
    width: 30vw;
    height: 30vw;
}

.Item_trigger {
    display: flex;
    flex-direction: column;
    box-sizing: inherit;
    cursor: pointer;
    padding-top: 1.5vw;    
}

@media (hover: hover) {
    .All-items:hover {
        cursor: pointer;
    }

    div.All-items:hover span {
        visibility: visible;
        transition-duration: 0.2s;
    }

    section.Container:hover div.Item {
        color: black;
        transition-duration: 0.1s;
    }

    div.Item:hover span {
        transform: rotate(90deg);
        transition-duration: 0.2s;
    }

    div.Item:hover img {
        width: 30vw;
        height: 30vw;;
        visibility: visible;
    }   
}

@media all and (min-width: 521px) {
    section.Container {
        font-size: 1.2em;
    }
}

@media all and (min-width: 821px){
    section.Container {
        font-size: 1.5em;
    }
}

@media all and (min-width: 1200px) {
    section.Container {
        font-size: 2em;
    }           
}


